body{
  margin: 0;  
  font-family: Arial;
  background-color: #f2f2f2;
}

.app-layout > div {
  color: #fff;
  padding: 1em;
  text-align: center;
}

.tweet {background-color: #A2DED0;}
.replies {background-color: #F4D03F;}
.search {background-color: #6C7A89;}
.messages { background-color: #59ABE3;}

.app-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 50vh 50vh;
}