$item-size: 210px;
$col-gutter: 10px;
$vp-gutter: $col-gutter;
$max-cols: 5;
$scrollbar-size: 20px;

@function grid-width($num-cols) {
  @return $num-cols * $item-size + 
   ($num-cols - 1) * $col-gutter;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, $item-size);
  max-width: grid-width($max-cols);
  gap: $col-gutter;
  justify-content: center;
  margin: 40px auto;
  padding: 0 $vp-gutter;
  grid-auto-rows: $item-size;


}

@include when-n-cols(2) {
  .grid .header {
    grid-row: span 2;
    grid-column: span 2;
  }
}

@mixin when-n-col($n) {
  @media screen and (min-width: 
    #{gird-width($n) + 2 * $vp-gutter + 
    $scrollbar-size}) {
      @content;
    }
}

.grid .card a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.grid .card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}