* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px auto;
  width: 600px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  gap: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4em;
  text-align: center;
}

.nonan {
  background: orange;
  padding: 40px 10px;
  height: 120px;
  font-size: 1.5em;
}

.floating {
  float: left;
  background: violet;
}